iplantuml
jinja-yaml-magic
jupyter-remote-desktop-proxy
jupyter-tree-download
# jupyterlab-code-formatter # To conda
# sphinxcontrib-plantuml # To conda
# sphinxcontrib-svg2pdfconverter
zsh_jupyter_kernel
# ngshare_exchange
jupyterlab-quarto

jupyterlab >=4.0.0
jupyter-cache
