# Jupyter Kernels
bash_kernel
zsh_jupyter_kernel

# Jupyter Extensions
jupyter-cache

# Development Tools
black
isort
pylint

# Documentation & Diagrams
iplantuml
jinja-yaml-magic

# Testing
nbval
pytest-notebook
